.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-height: 64px;
  gap: 2px;
  background-color: #2196F3;
  padding-left: 62px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);

  @media (max-width: 767px) {
    justify-content: center;
    padding-left: 0;
  } 
}

.button {
  background-color: transparent;
  appearance: none;
  border: none;
  outline: none;
  padding: 23px 0;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  border-radius: 1rem;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.button span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.button.main {
  width: 120px;
}

.button.favorites {
  width: 173px;
}

.button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.button.active {
  color: #fff;
  background-color: #1E88E5;
}